@import url(buno.css);
@import url(monokai.css);

/* Modifications */
.polaroid {
  width: 30%;
  background: white;
  padding: 12px 18px;
  text-align: center;
  float: right;
  margin: 0 0 1em 1em;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.2);
}

.polaroid img {
  width: 100%;
  height: auto;
  display: block;
}

.polaroid figcaption {
  margin-top: 6px;
  font-size: 1em;
  font-style: italic;
}
.journal-entry {
  font-family: "Papyrus";
}
.journal-entry p {  margin-bottom: 0.5em;
}
.journal-entry blockquote {
  margin: 0 0 1.2em 0;
  padding: 0 0 0 1.2em;
  border-left: 3px solid #ddd;
  font-style: italic;
  line-height: 1em;
  font-size: 1em;
  color: #444;
  font-family: "Roboto Slab" !important;
  text-align: left;
}
.journal-div::after {
  content: "";
  display: block;
  clear: both;
}

/*CAPTION STUFF*/
img + strong { display: block; text-align: center;}

video { display: block;
  text-align: center;
  margin: 0 auto;
}

img.post-image {
  width: 100%;
}

img {
  width: 100%;
}

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.btn,
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.internal_nav li {
  width: 10em;
  margin: 5px 0;
  white-space: pre;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.footer__copyright {
    margin: 0 20px 10px;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius:100%;
}
