<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="content-wrapper">
      <div class="content-wrapper__inner">

        <div style="height:150px; text-align:left">
          <img src="/images/engagement.jpg" alt="Engagement_photo" style="max-height:100%" align="right">
          </br><strong>Unavailability Notice:</strong></br>
          I am getting married on May 27th and will be unavailable while on honeymoon until June 12th.
          Please feel free to peruse the site and/or send me an
          <a href="mailto:william.capecchi@gmail.com" target="blank">email</a>.
        </div>

        <hr style="height:1px;border:none;color:#333;background-color:#333;" />

        {{ content }}
      </div>

      {% include footer.html %}
    </div>
  </body>
</html>
