name: Update Weight Figure

on:
  push:
    paths:
      - 'posts/RaceTraining/weights.json'

concurrency:
  group: pages-deploy
  cancel-in-progress: true

jobs:
  build:
    if: github.actor != 'github-actions[bot]'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Cache pip dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: pip install plotly numpy

      - name: Run chart script
        run: python posts/RaceTraining/weight_json_update.py

      - name: Commit updated figure
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "actions@github.com"
          git add images/posts/rta_weighthist.html
          git commit -m "github actions auto-update weight figure at $(date +'%I:%M %p') on $(date +'%d %b %Y')" || echo "No changes to commit"
          git push